/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot');
  /* For IE6-8 */
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2') format('woff2'), url('../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff') format('woff'), url('../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
html {
  font-family: 'Roboto', serif;
}
[layout=row] {
  flex-direction: row;
}
header {
  position: fixed;
  width: 100%;
  z-index: 9999;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
md-toolbar.md-default-theme {
  background-color: black;
}
section.jumbotron {
  margin-bottom: 30px;
  margin-top: 64px;
  padding: 30px;
  background-color: #dedede;
  text-align: center;
  color: #505050;
  h1 {
    font-size: 3em;
    font-weight: 100;
    color: #000;
  }
}
.techs {
  display: flex;
  flex-flow: row wrap;
  md-card {
    width: 30%;
    img.pull-right {
      float: right;
      width: 100px;
    }
  }
}
md-content {
  overflow: hidden;
}
md-sidenav {
  position: fixed;
  z-index: 9999;
}
md-backdrop.md-sidenav-backdrop {
  position: fixed;
  z-index: 999;
}
/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
